@use 'index';
@use 'mixins';

.header {
  margin: 0 40px;
  &__menu-navigation {
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-mobile-navigation {
    display: none;
    height: 104px;
  }

  &__menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 130px;
  }

  @include mixins.bp(desktop) {
    &__menu-navigation {
      display: none;
    }

    &__menu-mobile-navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__menu-burger {
      z-index: 1000;
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: auto 0;
    }

    &__menu-mobile-list {
      position: absolute;
      top: 95px;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      border-top: 2px solid index.$primary-color;
      text-align: center;
      > ul {
        flex-direction: column;
        padding: 0;
        > li {
          margin: 0 !important;
          padding: 5px 0;
        }
      }
    }

    &__contact-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      > div * {
        padding: 8px 0;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    > li {
      margin-left: 23px;
      > a {
        text-transform: uppercase;
        color: index.$menu-color;
        text-decoration: none;
        &:hover { color: index.$primary-color}
      }
    }
  }

  &__contact-list {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-grow: 1;
    > div {
      > p {
      margin: 0;
      }
      > a {
        text-decoration: none;
        cursor: pointer;
        color: gray;
        &:hover { color: index.$primary-color}
      }
    }
  }

  &__contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    > a {
      margin-right: 10px;
    }
  }

  &__circle {
    background-color: index.$primary-color;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 1.3;
    &:hover {
      background-color: #88c7a9;
      cursor: pointer;
    }
  }

  &__contact-amount {
    text-decoration: none;
    color: index.$menu-color;
    font-size: 12px;
  }
}